.form {
  display: flex;
  align-items: center;
  border-style: solid;
  height: 500px;
  width: 300px;
  margin-top: 200px;
  margin-inline: auto;
  border-radius: 60px;
  background-color: #b5bbe7;
}

.text {
  font-size: 35px;
  margin-top: -40px;
}

.elems {
  text-align: center;
}

.buttons {
  margin-top: 70px;
}

input {
  margin-bottom: 30px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

.btn {
  border-radius: 10px;
  margin-inline: 20px;
  width: 110px;
  height: 37px;
  background-color: rgba(255, 208, 0, 0.774);
  border-style: none;
  font-size: 16px;
}

input[type="text"] {
  font-size: 18px;
  text-align-last: center;
}

input[type="password"] {
  font-size: 18px;
  text-align-last: center;
}

button:hover {
  background-color: rgba(219, 174, 26, 0.959);
}

button:active {
  background-color: rgba(192, 150, 11, 0.959);
}

body {
  background-color: white;
}
