.contant {
  display: flex;
  justify-content: center;
}

.block {
  margin-top: 100px;
  margin-right: 100px;
}

.menu {
  display: flex;
  width: 200px;
  height: fit-content;
  background-color: white;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 5px -1px black;
}

.title {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-weight: 100;
  font-size: xxx-large;
}

.exit_button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgba(255, 196, 0, 0.959);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-family: system-ui;
  box-shadow: 1px 1px 5px -1px black;
}