.price_popup {
    width: 202px;
    cursor: pointer;
}



.price_boll2 {
    background-color: rgba(255, 208, 0, 0.774);
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    margin: 7px 22px 26px 14px;
    box-shadow: 0px 0px 9px -3px
}

.price_boll {
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 12px 0px 0px 12px;
}

.content__ingredients_img {
    margin-top: 15px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    object-fit: fill;
}

.text_block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.price_text {
    color: rgb(206, 60, 60);
    font-family: sans-serif;
    font-weight: 600;
}

.price_popup:hover {
    border-radius: 10px;
    background-color: rgba(255, 208, 0, 0.774);
    box-shadow: 0px 0px 9px -3px
}