#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 900px;
  min-width: 900px;
}

.error_text {
  font-size: 60px;
  height: 100px;
  width: 650px;
  margin-top: 200px;
  margin-left: 100px;
  color: red;
}